<a href="https://colab.research.google.com/github/Shiva-Chakravarthy-Gollapudi/Shiva_INFO5731_Spring2021/blob/main/lab_assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

Domain: IMDB Box office collection; This site will gives the information about the movie, lifetime collection, and the year it got released etc., 
Domain problem: Collect the data from the site using webscraping, to find the top 10 highest lifetime gross and the year the movie got release.

The Movie name or title, Lifetime gross and Year are the fields need to collect from this site. By collecting atleast 1000 data samples will be 
collected from this site. 

Steps:

1. Using Python and Google colab will do the web scraping.
2. Finding the html tags of the fields that we need to collect 
3. Once we collect the data need to place that in the data from for further analysis.

'''

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [ ]:
# You code here (Please add comments in the code):

# load the required libraries

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import requests
from bs4 import BeautifulSoup

import re
import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'


Rank=[]
title=[]
Worldwide_Gross = []
year = []

for i in range(0,1200,200):
    start_time = time.time()
    URL = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset={}'.format(i)
    page = requests.get(URL)
    pagecontent = page.text
    soup = BeautifulSoup(pagecontent)

    for div in soup.findAll('td', attrs={'a-text-right mojo-header-column mojo-truncate mojo-field-type-rank'}):
      Rank.append(div.text)

    for div in soup.findAll('td', attrs={'class':'a-text-left mojo-field-type-title'}):
      title.append(div.text)

    for div in soup.findAll('td', attrs={'class':'a-text-right mojo-field-type-money'}):
      Worldwide_Gross.append(div.text)

    for div in soup.findAll('td', attrs={'class':'a-text-left mojo-field-type-year'}):
      year.append(div.text)
      
Movie_df = pd.DataFrame({'Rank':Rank, 'Title':title, 'Lifetime Gross':Worldwide_Gross, 'Year': year})
Movie_df.head()

  Rank                                       Title  Lifetime Gross  Year
0    1                                      Avatar  $2,847,246,203  2009
1    2                           Avengers: Endgame  $2,797,501,328  2019
2    3                                     Titanic  $2,201,647,264  1997
3    4  Star Wars: Episode VII - The Force Awakens  $2,069,521,700  2015
4    5                      Avengers: Infinity War  $2,048,359,754  2018

In [ ]:
Movie_df.shape

(1200, 4)

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):
'''

Please write you answer here:
I have selected the Wine Quality Dataset from the kaggle.
Link: https://www.kaggle.com/yasserh/wine-quality-dataset/code

The dataset describes the amount of various chemicals present in wine and their effect on it's quality. It has 11 columns of independent variable 
like fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates and 
alcohol and and one dependent variable quality. Based on the independent variables the quality of the wine will varry from 1 to 10.

Once the data got imported, first remove the duplicate values and need to know the missing values and handling the missing values 
and then distribution of the features. 

After removing the duplicates, if there are no missing values, we are good to go for further analysis, by removing the unwanted columns to check 
the quality of the wine. 

If there are missing values, we can impute the values or replacing them with the mean or meadian of the other values in the same column based on 
few conditions. 

Once we are done with the handling the missing values. We can start We can visualise them based on the datatype whether they are categorical
we can use histogram to find the distribution. Then filter the unwanted outliners.  This step is needed to determine the validity of that
number. If an outlier proves to be irrelevant for analysis or is a mistake, consider removing it.

'''

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)

In [1]:
# You code here (Please add comments in the code):

import pandas as pd
import numpy as np
import cv2
from zipfile import ZipFile
import seaborn as sn

import os
import glob as gb

In [ ]:
!unzip /content/datasets1.zip

In [3]:
# You code here (Please add comments in the code):


# Step 1: We combined all examples in training, validation and test data from the original data set.
import glob
result_df =  pd.DataFrame()
for dataset in ['TwADR-L', 'AskAPatient']:
    result = {}
    df = pd.DataFrame()
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df = df.append(data)
        
    df = df.reset_index(drop=True)
    df['phrase_label'] = df[1] + " " + df[2]
    df.columns = ['id', 'labels', 'phrases', 'phrase-label']
    df = df.astype({"id": str})
       
    for columns in df.columns:
        df[columns] = df[columns].str.lower() 

    # dropping duplicates
    df = df.drop_duplicates('phrase-label')

    # storing results of the table in dictionary
    result['Unique_phrases'] = str(len(df['phrases'].unique()))
    result['Unique_labels'] = str(len(df['labels'].unique()))
    result['Unique_phrase_label_pairs'] = str(df.shape[0])
    df1 = pd.DataFrame(df['phrases'].value_counts())
    result['Phrases with multiple labels'] = str(df1[df1['phrases'] > 1].shape[0])
    result['Min examples per label'] = str(df['labels'].value_counts().values.min())
    result['Max examples per label'] = str(df['labels'].value_counts().values.max())
    result['Avg examples per label'] = round(df['labels'].value_counts().mean(),2)
    result_df = result_df.append(result, ignore_index=True)


result_df = result_df.T
# result_df.iloc[0:6].astype(int)
    
result_df.columns = ['TwADR-L', 'AskAPatient']

result_df

                             TwADR-L AskAPatient
Unique_phrases                  2944        4470
Unique_labels                   2220        1038
Unique_phrase_label_pairs       3157        4507
Phrases with multiple labels     173          35
Min examples per label             1           1
Max examples per label            36         141
Avg examples per label          1.42        4.34

In [4]:
# 2.)

import glob
result_df = pd.DataFrame()
# we iterate through both datasets 
for dataset in ['TwADR-L', 'AskAPatient']:
    df = pd.DataFrame()
    result = {}
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        #print(filepath)
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df = df.append(data)
    # we create combined dataframe by combining Each dataset text files.
    df = df.reset_index(drop=True)
    df['phrase_label'] = df[1] + " " + df[2]
    df.columns = ['id', 'labels', 'phrases', 'phrase-label']
    #print(df.shape)
    df = df.astype({"id": str})
    # converting to lower case
    for columns in df.columns:
        df[columns] = df[columns].str.lower() 

    # we drop duplicates that are phrase-label pairs... 
    df = df.drop_duplicates('phrase-label')

    index_list = []
    for i in range(df.shape[0]):
        if df['labels'].value_counts()[df.iloc[i]['labels']] < 5:
            index_list.append(i)

    # we drop the labels that have less than count of 5.
    df.drop(df.index[index_list], inplace=True)
    result = {}

    if dataset == 'TwADR-L':
      Twt_df = df
    else:
      Ask_df = df
 
    # storing results of the table in dictionary
    result['Unique_phrases'] = str(len(df['phrases'].unique()))
    result['Unique_labels'] = str(len(df['labels'].unique()))
    result['Unique_phrase_label_pairs'] = str(df.shape[0])
    df1 = pd.DataFrame(df['phrases'].value_counts())
    result['Phrases with multiple labels'] = str(df1[df1['phrases'] > 1].shape[0])
    result['Min examples per label'] = str(df['labels'].value_counts().values.min())
    result['Max examples per label'] = str(df['labels'].value_counts().values.max())
    result['Avg examples per label'] = round(df['labels'].value_counts().mean(), 2)
    # appending dictinary to dataframe
    result_df = result_df.append(result, ignore_index=True)

result_df = result_df.T
result_df.columns = ['TwADR-L', 'AskAPatient']


result_df

                             TwADR-L AskAPatient
Unique_phrases                   616        2665
Unique_labels                     76         233
Unique_phrase_label_pairs        721        2686
Phrases with multiple labels      87          19
Min examples per label             5           5
Max examples per label            36         141
Avg examples per label          9.49       11.53

In [ ]:
Ask_df.shape

(2686, 4)

In [18]:
# 4. 10 fold for twitter data
Twt_df.shape
Twt_df = Twt_df.drop( columns='phrase-label')

In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold


X = np.array(Twt_df['labels'].values.tolist())
Y = np.array(Twt_df['phrases'].values.tolist())
kf = KFold(n_splits=10,random_state=42, shuffle=True)
kf.get_n_splits(X)
print(kf)

KFold(n_splits=10, random_state=42, shuffle=True)

In [ ]:
total_X_train = []
total_X_test = []

total_y_train = []
total_y_test = []

for train_index, test_index in kf.split(X):
  print("TRAIN:", train_index)
  print("TEST:", test_index)
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = Y[train_index], Y[test_index]

  total_X_train.append(X_train)
  total_X_test.append(X_test)

  total_y_train.append(y_train)
  total_y_test.append(y_test)

In [ ]:
total_X_train

In [ ]:
total_X_test

In [ ]:
total_y_train

In [ ]:
total_y_test

In [16]:
# 4. 10 fold for Askapatient data
Ask_df.shape
Ask_df = Ask_df.drop( columns='phrase-label')

In [17]:
Ask_df

                       id  ...                              phrases
0               429783005  ...      paraesthesia of lower extremity
1                88092000  ...                       muscle atrophy
2               193462001  ...                             insomnia
3                55145008  ...                        stabbing pain
7               404640003  ...                            dizziness
...                   ...  ...                                  ...
48921           102556003  ...          pain in my arm and shoulder
49127  931804011000036107  ...                     omega 3 fish oil
49237           230145002  ...                      hard to breathe
49323           271782001  ...                           bit drowsy
49761            95891005  ...   fluey feelings in upper arms, legs

[2686 rows x 3 columns]

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold


X = np.array(Ask_df['labels'].values.tolist())
Y = np.array(Ask_df['phrases'].values.tolist())
kf = KFold(n_splits=10,random_state=42, shuffle=True)
kf.get_n_splits(X)
print(kf)

KFold(n_splits=10, random_state=42, shuffle=True)

In [ ]:
total_X_train = []
total_X_test = []

total_y_train = []
total_y_test = []

for train_index, test_index in kf.split(X):
  print("TRAIN:", train_index)
  print("TEST:", test_index)
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = Y[train_index], Y[test_index]

  total_X_train.append(X_train)
  total_X_test.append(X_test)

  total_y_train.append(y_train)
  total_y_test.append(y_test)

In [ ]:
total_X_train

In [ ]:
total_X_test

In [ ]:
total_y_train

In [ ]:
total_y_test