<a href="https://colab.research.google.com/github/Shiva-Chakravarthy-Gollapudi/Shiva_INFO5731_-Fall2021/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here

str1 = str(input('enter a string to count the no of characters: '))
           
dict1 = {}
for n in str1:
    keys = dict1.keys()
    if n in keys:
        dict1[n] += 1
    else:
        dict1[n] = 1

dict(sorted(dict1.items(), key=lambda x: x[1], reverse=True))

enter a string to count the no of characters: google.com

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [ ]:
# write your answer here
def sum_list(list1):
    sum_nums = 0
    for x in list1:
        sum_nums += x
    return sum_nums
print(sum_list([5,3,8]))

16

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
ip = str(input('Enter the input string here: '))
y = ip[0]
print(y + ip[1:].replace(y, '$'))

Enter the input string here: success
succe$$

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [ ]:
# write your answer here
a = int(input('enter the value of a: '))
b = int(input('enter the value of b: '))
S = (3.14 * (1 + a/b)**3)
S

enter the value of a: 4
enter the value of b: 2

84.78

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): 
    dic4.update(d)

print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [ ]:
# write your answer here
tpl = ('a','b','r',3,'s')
print(3 in tpl)
print('q' in tpl)

True
False

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [ ]:
# write your answer here
set1 = {3, 8, 4, 15, 2, 20}
print("Maximum value of the said set: ", max(set1))
print("Minimum value of the said set: ", min(set1))

Maximum value of the said set:  20
Minimum value of the said set:  2

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here
import random

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

def divide_gropus(l, n):
    for i in range(0, len(l), n): 
        yield l[i:i + n]

x = list(divide_gropus(studnet_list,6))
print (x)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229', 'kg0569'], ['kg0470', 'sg1297', 'bg0320', 'fh0141', 'jl1252', 'sk1386'], ['ak0956', 'sk1390', 'sk1458', 'sk1313', 'ak0934', 'vm0377'], ['nm0618', 'sm1640', 'sm1907', 'gn0108', 'pr0353', 'dr0609'], ['ms1500', 'aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [ ]:
# write your answer here
def find_duplicate(nums):
    num_set = set()
    no_duplicate = -1

    for i in range(len(nums)):
        if nums[i] in num_set:
            return nums[i]
           
        else:
            num_set.add(nums[i])

    return no_duplicate

print(find_duplicate([1, 2, 2, 4, 5]))
print(find_duplicate([1, 2, 3, 4]))
print(find_duplicate([1, 1, 2, 3, 3, 2, 2]))

2
-1
1

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def find_sundays(year):
    dt1 = date(year, 1, 1)
      
    dt1 += timedelta(days = 6 - dt1.weekday())  
    while dt1.year == year:
        yield dt1
        dt1 += timedelta(days = 7)
          
for sun in find_sundays(2022):
    print(sun)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25